:root{
    --main-color : #17a2b8;
    --bs-body-bg: #24353f;
}
main{
    width: 100vh;
}
.parent h1{
    color: var(--main-color);
    font-size: 2.5rem;
}
.parent{
    background-color:var(--second-color) !important ;
}

.main-content{
    background-color:var(--bs-body-bg) !important ;
}
.main-content ::placeholder {
    color: #ced4da !important;
  }

.btn-hover{
    --bs-btn-hover-bg:#17a2b8;
    border-color: var(--main-color) !important;
    color: #17a2b8 ;
}
.btn-hover:hover{
    color: black ;
}
